AUTH_GOOGLE_ID=


NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=""


AUTH_GOOGLE_SECRET=

RESEND_API_KEY=""

NEXT_PUBLIC_APP_URL=""

GCLOUD_PROJECT_ID=

GCLOUD_BUCKET=
GCS_CLIENT_EMAIL=""

GCS_PRIVATE_KEY=""


GCLOUD_SERVICE_ACCOUNT_KEY=""
DATABASE_URL=""

AUTH_SECRET=""

