


ALLOWED_ORIGINS=http://localhost:3000,https://yourdomain.com,https://www.yourdomain.com


NEXT_PUBLIC_APP_URL="http://localhost:3000"

GCLOUD_PROJECT_ID=""

GCLOUD_BUCKET=""
GCS_CLIENT_EMAIL=""

GCS_PRIVATE_KEY=""

DATABASE_URL=""

AUTH_SECRET=""


